
<h1> About Devine Eats </h1>
	<p> DevineEats is all about delivering quality food to customers looking for the most flavorful, satisfying, and swell eats.
	</p>

	<p>If you are a resturant owner please sign up. We provided an online platform for customers to effortlessly order your great food. Any traffic generated from this site is subject to a fee from Devine Eats.
	</p>

	<%= link_to "New Resturant Sign up", new_eatery_path, class: "btn btn-default btn-lg" %>

	


