<h1> 
	<span class="glyphicon glyphicon-fire"></span> The Works <span class="glyphicon glyphicon-fire"></span> 
</h1>

	<div class="dropdown">
	  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Cuisine
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">American</a></li>
	    <li><a href="#">Mexican</a></li>
	    <li><a href="#">Asian</a></li>
	    <li><a href="#">Italian</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="#">Reccommended</a></li>
	  </ul>
	</div>


